.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    /* box-sizing: border-box; */
    border-collapse: collapse;
    width: 100%;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #2d2d2d;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}

.searchable-fields {
    padding-left: 5px;
}

.searchable-link {
    padding: 0 5px 0 5px;
}

.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}

.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

/* MODO DARK MEJORADO */
/* Estilos generales */
body {
    transition: background-color 0.8s ease, color 0.8s ease;
}

header,
.card-body .app-body,
.main {
    transition: background-color 0.8s ease, color 0.8s ease;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #181818;
    /* Fondo oscuro */
    color: #eaeaea;
    /* Texto claro */
}

/* MODO DAR COMPONENTES */
body.dark-mode header,
body.dark-mode .card-body,
body.dark-mode .main,
body.dark-mode th,
body.dark-mode td,
body.dark-mode pre,
body.dark-mode label,
body.dark-mode option {
    background-color: #2d2d2d;
    /* Fondo de encabezado y celdas */
    color: #fffefe;
    /* Texto claro */
}

/* MODO DARK CLASES  */
body.dark-mode .app-body .card-header,
body.dark-mode .sidebar,
body.dark-mode .nav-item,
body.dark-mode .dataTables_length,
body.dark-mode .page-link,
body.dark-mode .form-control,
body.dark-mode .select2-results__option,
body.dark-mode .select2-selection--multiple,
body.dark-mode .dataTables_info,
body.dark-mode .dz-remove,
body.dark-mode .sidebar-minimizer,
body.dark-mode .dataTables_processing,
body.dark-mode .dz-preview,
body.dark-mode .needsclick {
    background-color: #2d2d2d;
    /* Fondo oscuro para sidebar y nav */
    color: #fffefe;
    /* Texto claro */
}

/* Modo claro */
body {
    background-color: #ffffff;
    /* Fondo blanco */
    color: #000000;
    /* Texto negro */
}

header,
.card-body .app-body,
.main {
    background-color: #f8f9fa;
    /* Fondo claro */
}

th,
td {
    background-color: #ffffff;
    /* Fondo de celdas */
    color: #000000;
    /* Texto negro */
}

.app-body .card-header {
    background-color: #f8f9fa;
    /* Fondo claro para sidebar y nav */
    color: #000000;
    /* Texto negro */
}